 * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #Qty,
    #SelSpecify {
        width: 90px;
    }

    .ProductName h3{
        color:white;
    }

    .ProductPrice p{
        color:white;
        font-size:20px;
    }
    *.ProductDescribe
    {
        color:white;
    }
    .figure-caption
    {
        font-size:22px;
    }

